<?php
use Scalapay\Scalapay\Block\InPageCheckout\PopupScript;

/** @var PopupScript $block */
$config = $block->getConfiguration();
?>
<?php if (count($config)) : ?>
    <script src="<?= $block->escapeXssInUrl($config['cdnJsUrl']); ?>" type="text/javascript"></script>
    <script type="text/javascript">
        // instance Scalapay Checkout Popup class
        const scalapayCheckoutPopup = new ScalapayCheckoutPopup();

        /**
         * @class ScalapayPopup
         */
        class ScalapayPopup {
            /**
             * Initialize the Scalapay Popup configuration.
             *
             * @returns void
             */
            initConfiguration() {
                // set configurations
                scalapayCheckoutPopup.setConfig('paymentSelectors', [<?= $config['paymentSelectors']; ?>]);
                scalapayCheckoutPopup.setConfig('placeOrderSelector', '<?= $config['checkoutPlaceOrderButtonSelector']; ?>');
                scalapayCheckoutPopup.setConfig('agreementSelectors', [<?= $config['checkoutRequiredAgreementSelectors']; ?>]);
                scalapayCheckoutPopup.setConfig('placeOrderStyle', '<?= $config['scalapayPlaceOrderWrapperStyle']; ?>');
                scalapayCheckoutPopup.setConfig('scalapayCdnUrl', '<?= $config['cdnHtmlUrl']; ?>');
                scalapayCheckoutPopup.setConfig('ajaxController', '<?= $config['ajaxController']; ?>');
                scalapayCheckoutPopup.setConfig('ajaxMode', '<?= $config['ajaxMode']; ?>');
                scalapayCheckoutPopup.setConfig('ajaxControllerPayload', JSON.parse('<?= $config['ajaxControllerPayload']; ?>'));

                // run bootstrap
                scalapayCheckoutPopup.bootstrap();
            }
        }

        // start after the DOM has been loaded
        document.addEventListener('DOMContentLoaded', () => {
            // init scalapay popup class
            const scalapayPopup = new ScalapayPopup();

            // init the plugin process
            scalapayPopup.initConfiguration();
        });
    </script>
<?php endif; ?>
