<?php
/** @var \Magento\Framework\View\Element\Template $block */
/** @var \Scalapay\Scalapay\Ui\ViewModel\ScalaWidgetConfig $configViewModel */
/** @var \Scalapay\Scalapay\Ui\ViewModel\DataViewModelInterface $dataViewModel */

$configViewModel = $block->getConfigViewModel();
$dataViewModel = $block->getDataViewModel();

$isAllowed = $configViewModel->isScalapayActive(
    $dataViewModel->getPrice(),
    $dataViewModel->getProductsIds(),
    $dataViewModel->getCountry()
);
?>
<script type="module" src="https://cdn.scalapay.com/widget/v3/js/scalapay-widget.esm.js"></script>
<script nomodule src="https://cdn.scalapay.com/widget/v3/js/scalapay-widget.js"></script>
<?php if ($configViewModel->isVisible() && $isAllowed) : ?>
    <div id="scalapayText" style="margin: 0 0 10px 0;min-height:20px; visibility: hidden; <?php if ($configViewModel->getType() == 'checkout') { echo ' display: inline-block; '; } ?>" >
        <scalapay-widget
            amount="<?= /* @noEscape */ $dataViewModel->getPrice(); ?>"
            min="<?= /* @noEscape */ $configViewModel->getMinAmount(); ?>"
            max="<?= /* @noEscape */ $configViewModel->getMaxAmount(); ?>"
            logo-size="<?= /* @noEscape */ $configViewModel->getLogoSize(); ?>"
            amount-selectors='<?= /* @noEscape */ $configViewModel->getAmountSelectors() ?>'
            priceboxselector='<?= /* @noEscape */ $configViewModel->getPriceBoxSelector() ?>'
            number-of-installments="<?= /* @noEscape */ $configViewModel->getNumberOfPayments(); ?>"
            locale="<?= /* @noEscape */ $configViewModel->getCurrentLanguage(); ?>"
            frequency-number="30"
            currency-position="<?= /* @noEscape */ $configViewModel->getCurrencyPosition(); ?>"
            currency-display="<?= /* @noEscape */ $configViewModel->getCurrencyDisplay(); ?>"
            theme="<?= /* @noEscape */ $configViewModel->getTheme(); ?>"
            hide-price="<?= /* @noEscape */ $configViewModel->isPriceHidden(); ?>"
            type="<?= /* @noEscape */ $configViewModel->getType(); ?>"
            <?php if ($configViewModel->getType() == 'checkout') { ?>
            show-title="<?= /* @noEscape */ $configViewModel->isTitleShown(); ?>"
            <?php } ?>
            >
        </scalapay-widget>
        <?= /* @noEscape */ $configViewModel->getBelowWidgetText(); ?>
    </div>
    <script type="text/javascript">
        let intervalId = setInterval(moveScalapay, 1000);
        let isExist = null;
        var amountSelectorArray = <?= /* @noEscape */ $configViewModel->getAmountSelectors() ?>;
        const scalapayText = 'scalapayText';
        const textPosition =  '<?= /* @noEscape */ $configViewModel->getTextPosition(); ?>';

        function moveScalapay()
        {
            isExist = document.querySelector(amountSelectorArray);
            if (isExist !== null) {
                let referenceNode = document.querySelector(textPosition);
                <?php if ($configViewModel->getType() == 'checkout') { ?>
                    let referenceNodeCheckout = document.querySelector('#scalapay-checkout-widget');
                    if (referenceNodeCheckout !== null) {
                        referenceNodeCheckout.appendChild(document.getElementById(scalapayText));
                        document.getElementById(scalapayText).style.visibility = 'visible';
                        clearInterval(intervalId);
                        intervalId = null;
                    }
                <?php } else { ?>
                    referenceNode.parentNode.insertBefore(document.getElementById(scalapayText), referenceNode.nextSibling);
                    document.getElementById(scalapayText).style.visibility = 'visible';
                    clearInterval(intervalId);
                    intervalId = null;
                <?php } ?>
            }
        }
    </script>
<?php endif; ?>
