<?php
/** @var \Magento\Framework\View\Element\Template $block */
/** @var \Scalapay\Scalapay\Ui\ViewModel\ScalaWidgetConfig $configViewModel */
/** @var \Scalapay\Scalapay\Ui\ViewModel\DataViewModelInterface $dataViewModel */
$configViewModel = $block->getConfigViewModel();
$dataViewModel = $block->getDataViewModel();

$isAllowed = $configViewModel->isScalapayActive(
    $dataViewModel->getPrice(),
    $dataViewModel->getProductsIds(),
    $dataViewModel->getCountry()
);
?>
<?php if ($configViewModel->isVisible() && $isAllowed) : ?>
    <div id="scalapayPayin4Text" style="margin: 0 0 10px 0;min-height:20px; visibility: hidden; <?php if ($configViewModel->getType() == 'checkout') { echo ' display: inline-block; '; } ?>" >
        <scalapay-widget
            amount="<?= /* @noEscape */ $dataViewModel->getPrice(); ?>"
            min="<?= /* @noEscape */ $configViewModel->getMinAmount(); ?>"
            max="<?= /* @noEscape */ $configViewModel->getMaxAmount(); ?>"
            logo-size="<?= /* @noEscape */ $configViewModel->getLogoSize(); ?>"
            amount-selectors='<?= /* @noEscape */ $configViewModel->getAmountSelectors() ?>'
            priceboxselector='<?= /* @noEscape */ $configViewModel->getPriceBoxSelector() ?>'
            number-of-installments="<?= /* @noEscape */ $configViewModel->getNumberOfPayments(); ?>"
            locale="<?= /* @noEscape */ $configViewModel->getCurrentLanguage(); ?>"
            frequency-number="30"
            currency-position="<?= /* @noEscape */ $configViewModel->getCurrencyPosition(); ?>"
            currency-display="<?= /* @noEscape */ $configViewModel->getCurrencyDisplay(); ?>"
            theme="<?= /* @noEscape */ $configViewModel->getTheme(); ?>"
            hide-price="<?= /* @noEscape */ $configViewModel->isPriceHidden(); ?>"
            type="<?= /* @noEscape */ $configViewModel->getType(); ?>"
            <?php if ($configViewModel->getType() == 'checkout') { ?>
            show-title="<?= /* @noEscape */ $configViewModel->isTitleShown(); ?>"
            <?php } ?>
            >
        </scalapay-widget>
        <?= /* @noEscape */ $configViewModel->getBelowWidgetText(); ?>
    </div>
    <script type="text/javascript">
        let intervalIdp4 = setInterval(moveScalapayp4, 1000);
        let isExistp4 = null;
        var amountSelectorArrayp4 = <?= /* @noEscape */ $configViewModel->getAmountSelectors() ?>;
        const scalapayTextp4 = 'scalapayPayin4Text';
        const textPositionp4 =  '<?= /* @noEscape */ $configViewModel->getTextPosition(); ?>';

        function moveScalapayp4()
        {
            isExistp4 = document.querySelector(amountSelectorArrayp4);
            if (isExistp4 !== null) {
                let referenceNodep4 = document.querySelector(textPositionp4);
                <?php if ($configViewModel->getType() == 'checkout') { ?>
                    let referenceNodeCheckoutp4 = document.querySelector('#payin4-checkout-widget');
                    if (referenceNodeCheckoutp4 !== null) {
                        referenceNodeCheckoutp4.appendChild(document.getElementById(scalapayTextp4));
                        document.getElementById(scalapayTextp4).style.visibility = 'visible';
                        clearInterval(intervalIdp4);
                        intervalIdp4 = null;
                    }
                <?php } else { ?>
                    referenceNodep4.parentNode.insertBefore(document.getElementById(scalapayTextp4), referenceNodep4.nextSibling);
                    document.getElementById(scalapayTextp4).style.visibility = 'visible';
                    clearInterval(intervalIdp4);
                    intervalIdp4 = null;
                <?php } ?>
                
            }
        }
    </script>
<?php endif; ?>
