<?php
/** @var \Magento\Framework\View\Element\Template $block */
/** @var \Scalapay\Scalapay\Ui\ViewModel\ScalaWidgetConfig $configViewModel */
/** @var \Scalapay\Scalapay\Ui\ViewModel\DataViewModelInterface $dataViewModel */
$configViewModel = $block->getConfigViewModel();
$dataViewModel = $block->getDataViewModel();

$isAllowed = $configViewModel->isScalapayActive(
    $dataViewModel->getPrice(),
    $dataViewModel->getProductsIds(),
    $dataViewModel->getCountry()
);
?>
<?php if ($configViewModel->isVisible() && $isAllowed ) : ?>
    <div id="scalapayPayLaterText" style="margin: 0 0 10px 0;min-height:20px; visibility: hidden;<?php if ($configViewModel->getType() == 'checkout') { echo ' display: inline-block; '; } ?>" >
         <scalapay-widget
            amount="<?= /* @noEscape */ $dataViewModel->getPrice(); ?>"
            min="<?= /* @noEscape */ $configViewModel->getMinAmount(); ?>"
            max="<?= /* @noEscape */ $configViewModel->getMaxAmount(); ?>"
            logo-size="<?= /* @noEscape */ $configViewModel->getLogoSize(); ?>"
            amount-selectors='<?= /* @noEscape */ $configViewModel->getAmountSelectors() ?>'
            priceboxselector='<?= /* @noEscape */ $configViewModel->getPriceBoxSelector() ?>'
            number-of-installments="1"
            locale="<?= /* @noEscape */ $configViewModel->getCurrentLanguage(); ?>"
            frequency-number="<?= /* @noEscape */ $configViewModel->getNumberOfDays(); ?>"
            currency-position="<?= /* @noEscape */ $configViewModel->getCurrencyPosition(); ?>"
            currency-display="<?= /* @noEscape */ $configViewModel->getCurrencyDisplay(); ?>"
            theme="<?= /* @noEscape */ $configViewModel->getTheme(); ?>"
            hide-price="<?= /* @noEscape */ $configViewModel->isPriceHidden(); ?>"
            type="<?= /* @noEscape */ $configViewModel->getType(); ?>"
            <?php if ($configViewModel->getType() == 'checkout') { ?>
            show-title="<?= /* @noEscape */ $configViewModel->isTitleShown(); ?>"
            <?php } ?>
            >
        </scalapay-widget>
        <?= /* @noEscape */ $configViewModel->getBelowWidgetText(); ?>
    </div>
    
    <script type="text/javascript">
        let intervalIdpl = setInterval(moveScalapaypl, 1000);
        let isExistpl = null;
        var amountSelectorArraypl = <?= /* @noEscape */ $configViewModel->getAmountSelectors() ?>;
        const scalapayTextpl = 'scalapayPayLaterText';
        const textPositionpl =  '<?= /* @noEscape */ $configViewModel->getTextPosition(); ?>';

        function moveScalapaypl()
        {
            isExistpl = document.querySelector(amountSelectorArraypl);
            if (isExistpl !== null) {
                let referenceNodepl = document.querySelector(textPositionpl);
                <?php if ($configViewModel->getType() == 'checkout') { ?>
                    let referenceNodeCheckoutpl = document.querySelector('#paylater-checkout-widget');
                    if (referenceNodeCheckoutpl !== null) {
                        referenceNodeCheckoutpl.appendChild(document.getElementById(scalapayTextpl));
                        document.getElementById(scalapayTextpl).style.visibility = 'visible';
                        clearInterval(intervalIdpl);
                        intervalIdpl = null;
                    }
                <?php } else { ?>
                    referenceNodepl.parentNode.insertBefore(document.getElementById(scalapayTextpl), referenceNodepl.nextSibling);
                    document.getElementById(scalapayTextpl).style.visibility = 'visible';
                    clearInterval(intervalIdpl);
                    intervalIdpl = null;
                <?php } ?>
            }
        }
    </script>
<?php endif; ?>
